body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  height: 600px;
}

.logo {
  max-width: 100%;
  width: 85px;
  height: 85px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  border-bottom: solid 2px #000;
  border-radius: 4px;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

nav ul {
  font-size: 1.3rem;
  gap: 30px;
}

.icones {
  gap: 20px;
}

.icones img {
  width: 30px;
  height: auto;
}

.conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.conteiner img {
  grid-column: 2;
}

.tenis {
  max-width: 100%;
  width: 50vw;
  height: 84.7vh;
  object-fit: cover;
}

.conteudo {
  grid-column: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conteudo h1 {
  margin-top: 40px;
  text-align: center;
}

.lançamento {
  font-size: 1rem;
}

.kyrie7 {
  font-size: 4.5rem;
}

.conteudo p {
  grid-column: 2;
  font-size: 1.5rem;
  padding: 30px;
  margin: 0;
  text-align: start;
}

.conteudo a {
  grid-column: 2;
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}
