body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  max-width: 100%;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 85px;
  height: 85px;
}

.conteudo {
  display: grid;
  justify-content: center;
  align-content: center;
}

h1 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 1rem;
}

p {
  margin: 1rem;
  margin-left: 0px;
  color: #847c7c;
  line-height: 0.3;
  font-size: 1.5rem;
  padding: 4px;
  border-left: 4px solid #000;
  border-radius: 2px;
}

a {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  border-radius: 4px;
}

a:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .conteudo {
    padding-left: 10px;
  }
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 1.2;
  }
  a:hover {
    transform: scale(1.03);
  }
}

@media (max-width: 650px) {
  body {
    grid-template-columns: 1fr;
  }
  img {
    width: 100vw;
    height: 50vh;
  }
}
